@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212;

}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;

    background: #1E1E1E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 120px;
    border-radius: 0px 0px 10px 10px;
  
}


.usernameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.enterUsername_label {
    margin-top: 40px;
    margin-bottom: 12px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}


.enterUsername{
    width: 723px;
    height: 60px;

    background: #3E3E42;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    
    color:#FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    padding-left: 20px;
}

.playButton {
    margin-top: 40px;
    height: 120px;
    width: 487px;

    background: #FCBF49;
    border-radius: 87px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    color: #1E1E1E;
}

.playButton:disabled {
    opacity: 0.5;
}
.playButton:active {
    transform: scale(0.95);
}

.playButton:hover {
    background: #f7a90e;
    transform: scale(1.025);
}


.viewLeaderboard {
    width: 391px;
    height: 45px;
    margin-top: 10px;

    background: #FCBF49;
    border-radius: 87px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #121212;
}

.viewLeaderboard:hover {
    background: #f7a90e;
    transform: scale(1.025);    
}

.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 100px;  
}

.timer{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    color: white;
    text-align: center;
    padding-right: 240px;
}

.score {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    color: white;
    text-align: center; 
}


.memoryCardGame {
    width: 570px;
    height: 570px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
    perspective: 1000px;
}

.card {
    position: relative;
    width: calc(25% - 10px);
    height: (25% - 10px);
    background-color: #1E1E1E;
    margin: 5px;

    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;  
}

.card.flip {
    transform: rotateY(180deg);
}

.card:active {
    transform: scale(0.95);
}

.back:hover {
    background-color: #FCBF49;
    transform: scale(0.95);
}

.front, .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    border: 5px solid #FCBF49;
    background-color: #1E1E1E;

    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

.postGame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.resetButton {
    height: 60px;
    width: 300px;
    margin-right: 20px;

    color: #121212;
    background: #FCBF49;
    border-radius: 87px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
}

.resetButton:disabled {
    opacity: 0.5;
}

.resetButton:hover {
    background: #f7a90e;
    transform: scale(1.025);
}

.total {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;    
    color: #FFFFFF;
}

.leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    color: #121212;
    background-color: #FCBF49;

    margin-top: 150px;
    margin-bottom: 50px;
    
    width: 100%;
}

th, td{
    border: 2px solid  #FCBF49;
    border-collapse: collapse;

}

th {

    background-color: 	#FCBF49; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    color: #121212;
    text-align: center;
    padding: 20px;
}

tr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: #121212;
    text-align: center;
    padding: 10px;
}


tr:hover {
    transform: scale(1.025);
}


td{
    background-color: #FCBF49;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #121212;
    text-align: center;
    padding: 10px;
}   

/*Vista Télefono y Tablets*/
@media (max-width: 768px) {
    h1{
        font-size: 30px;
        width: 100%;
        text-align: center;
        line-height: normal;
    }

    .enterUsername_label {
        font-size: 20px;
        margin-bottom: 6px;
        margin-top: 10px;
    }

    .enterUsername {
        width: 300px;
        height: 40px;
        line-height: normal;
        font-size: 20px;
    }

    .playButton {
        width: 300px;
        height: 70px;
        margin-top: 20px;
        font-size: 60px;


    }

    .viewLeaderboard {
        width: 280px;
        height: 40px;

        font-size: 20px;
    }

    .memoryCardGame {
        width: 375px;
        height: 450px;
    }

    .statistics {
        padding-bottom: 2px;
    }

    .timer {
        font-size: 30px;

        padding-right: 75px;
        
    }

    .score {
        font-size: 30px;
    }

    .card {
        width: calc(25% - 10px);
        height: calc(25%- 10px);
    }

    .front {
        padding: 0%;
    }

    .postGame {
        flex-direction: column;
    }

    .resetButton {
        margin-right: 0;
    }

    .total {
        font-size: 25px;
        margin-top: 7px;
    }


    caption {
        font-size: 40px;
    }

    th {
        font-size: 40px;
        padding: 5px; 
    }
    
    td {
        padding: 5px;
        font-size: 20px;
    }
}